/*-------------------------
	deepDiveCodersBootcamp
	personalWebpageProject
	Stylesheet for aboutMe
--------------------------*/

/** Color Scheme
*$color1: #b5b9a8; //rgb(181, 185, 168) light-gray
*$color2: #958f83; //rgb(149, 143, 131) Dark-gray
*$color3: #179d9d; //rgb(183, 157, 157) Light-Turquoise
*$color4: #0e8581; //rgb(14, 133, 129) Turquoise
*$color5: #085d51; //rgb(11, 93, 81) Dark-Turquoise
*$color6: #5b4f3f; //rgb(91, 79, 63) Brown
*$color7: #e49962; //rgb(228, 153, 98) Light-Coral
*$color8: #874427; //rgb(183, 68, 39) Coral
*/



body {
	background-color: #0f5f7f;
}

h1 {
	background-color: #0f5f7f;
	color: #e8df6d;
	font-family: 'Roboto', sans-serif;
	font-size: 4em;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
}

.boxtitle {
	color: #e8df6d;
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	font-weight: bold;
	padding: 20px;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: inherit;
}

.boxheading {
	color: #e8df6d;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 55px;
	margin-bottom: 55px;
	text-align: inherit;
}

.box {
	padding: 0 5%;
	background-color: #0f5f7f;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	margin-top: 55px;
	margin-bottom: 55px;
}