/********************************************
* Layout Styles
*
* These styles control the layout
********************************************/
header {
	background-color: white;
	margin-top: 20px;
	margin-bottom: 20px;
}

footer {
	background-color: #000000;
	color: aliceblue;
	font-style: italic;
	margin-top: 40px;
	padding: 60px 0;
}

/********************************************
* Utility Styles
*
* These are intended to be re-used
* for styling purposes
********************************************/
.content-box {
	background-color: aliceblue;
	border-radius: 6px;
	padding: 10px 15px 15px;
	margin-bottom: 20px;
}

.content-box-nest {
	background-color: white;
	border-radius: 6px;
	padding: 10px 15px 15px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.content-box-nest-1 {
	background-color: white;
	border-radius: 6px;
	padding: 20px 25px 25px;
	margin-left: 20px;
	margin-bottom: 20px;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}
